<div class="container">

  <h2>All Companies</h2>

  <table class="striped">
     <thead>
       <tr>
           <th>Name</th>
       </tr>
     </thead>

     <tbody>

    <% @companies.each do |company| %>
      <tr><td><%= link_to company.name, company %></td></tr>
    <% end %>

      </tbody>

  </table>

</div>
