<div class="container">

  <h2><%= @company.name %> products</h2>

  <table class="striped">
     <thead>
       <tr>
           <th>Name</th>
       </tr>
     </thead>

     <tbody>

    <% @products.each do |product| %>
      <% if @company.id == product.company_id %>
        <tr><td><%= link_to product.name, product %></td></tr>
      <% end %>
    <% end %>

  </tbody>

</table>

  <br>

  <%= link_to "Back", "/", class: 'btn waves-effect waves-light red'  %>

</div>
