<div class="container">

  <h2>All products</h2>

  <table class="striped">
     <thead>
       <tr>
           <th>Name</th>
       </tr>
     </thead>

     <tbody>

    <% @products.each do |product| %>
      <tr><td><%= link_to product.name, product %></td></tr>
    <% end %>

    </tbody>

</table>

</div>
