<div class="container">

  <h2>Product Characteristics</h2><br>


  <ul style="list-style-type: none;">
    <li><h5>Name of the product</h5></li><br>
    <li><%= @product.name %></li><br>
    <li><h5>Description</h5></li><br>
    <li><%= @product.description %></li><br><br><br>
  </ul><br>


  <%= link_to "Back to company", @companyURL, class: 'btn waves-effect waves-light red'  %> <%= link_to "Back to products", "/products", class: 'btn waves-effect waves-light red'  %>


</div>
