<h2>Product Characteristics</h2><br>

<ul style="list-style-type: none;">
  <li><strong>Name of the product</strong></li><br>
  <li><%= @product.name %></li><br>
  <li><strong>Description</strong></li><br>
  <li><%= @product.description %></li><br><br><br>
</ul><br>


<%= link_to "Back to company", @companyURL, class: 'button'  %> <%= link_to "Back to products", "/products", class: 'button'  %>
